[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Lephat902/tutorify-be-api-gateway
[submodule "auth"]
	path = auth
	url = https://github.com/Lephat902/tutorify-be-auth
[submodule "nginx"]
	path = nginx
	url = https://github.com/Lephat902/tutorify-be-nginx.git
[submodule "mailer"]
	path = mailer
	url = https://github.com/Lephat902/tutorify-be-mailer.git
[submodule "verification-token"]
	path = verification-token
	url = https://github.com/Lephat902/tutorify-be-verification-token.git
[submodule "feedback"]
	path = feedback
	url = https://github.com/HungPham-Canh/feedback.git
