[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Lephat902/tutorify-be-api-gateway
[submodule "auth"]
	path = auth
	url = https://github.com/Lephat902/tutorify-be-auth
[submodule "nginx"]
	path = nginx
	url = https://github.com/Lephat902/tutorify-be-nginx.git
[submodule "mailer"]
	path = mailer
	url = https://github.com/Lephat902/tutorify-be-mailer.git
[submodule "verification-token"]
	path = verification-token
	url = https://github.com/Lephat902/tutorify-be-verification-token.git
[submodule "feedback"]
	path = feedback
	url = https://github.com/HungPham-Canh/tutorify-be-feedback.git
[submodule "files"]
	path = files
	url = https://github.com/HungPham-Canh/files
[submodule "class-and-category"]
	path = class-and-category
	url = https://github.com/Lephat902/tutorify-be-class-and-category
[submodule "tutor-apply-for-class"]
	path = tutor-apply-for-class
	url = https://github.com/Lephat902/tutorify-be-tutor-apply-for-class.git
