# Versioning and metadata
.git
.gitignore
.dockerignore
Dockerfile

# Build dependencies
dist.do
# For shared dir, to optimize build time, we allow node_modules to be copied
# **/node_modules/
dist

# Misc
.eslintrc.js
.prettierrc
README.md
